
<% content_for :head do -%>
  <%= stylesheet_link_tag 'portada' %>
  <script type="text/javascript">
    $(function () {
      $("#map a").hover(function() {
        var id = $(this).attr('id').replace(/^hover-/, '#section-');
        $(id).css('opacity', 1);
      }, function() {
        var id = $(this).attr('id').replace(/^hover-/, '#section-');
        $(id).css('opacity', 0.6);
      });
    });
  </script>
<% end -%>

<div id="center">
  <div id="playground">
    <ul id="sections">
      <% sections.each do |section| %>
        <li><%= link_to section, section_url(section, @section), :id => "section-#{section}",
  :class => (section == @section ? 'active' : '')%></li>
      <% end %>
    </ul>
    <div id="map">
      <% sections.each do |section| %>
        <%= link_to(section, section_url(section), :id => "hover-#{section}") unless section == 'inicio' %>
      <% end %>
    </div>
  </div>
</div>
