<div id="menu">
  <div id="logo">
    <%= link_to image_tag('ricardogomez.gif'), {:section => ''}, {:alt => 'logoric'} %>
    <div id="sections">
      <% sections.each do |section| %>
        <%= section_for section %>
      <% end %>
    </div>
  </div>
</div> <!-- menu -->

