<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= stylesheet_link_tag 'common.css', 'simple.css' %>
    <link rel="shortcut icon" href="/rgweb.ico" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Ricardo G&oacute;mez</title>
  </head>
  <body>

    <div id="page">
      <div id="page_top"></div>	<div id="page_middle">
        <%= render :partial => 'layouts/menu' %>
        <div id="content">
          <%= yield  %>
        </div> <!-- content -->
        <div class="spacer">&nbsp;</div>
      </div>
      <div id="page_bottom"></div>
    </div> <!-- page -->
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3241357-7");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
